@keyframes pulse {
  0%,
  100% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  0%,
  10%,
  50%,
  90%,
  100% {
    transform: rotate(0deg);
  }
  20%,
  40% {
    transform: rotate(25deg);
  }
  30% {
    transform: rotate(50deg);
  }
  60%,
  80% {
    transform: rotate(-25deg);
  }
  70% {
    transform: rotate(-50deg);
  }
}

.introduction {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 100px 0;
}

.introduction__title {
  font-size: 60px;
  margin: 0;
}

.introduction__paragraph {
  max-width: 550px;
  font-size: 18px;
  line-height: 22px;
  margin: 20px 0;
}

.introduction__header {
  font-size: 30px;
  max-width: 800px;
  margin: 0;
  font-weight: 700;
}

.introduction__button {
  padding: 15px 30px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: none;
  background-color: rgba(189, 54, 52);
  color: white;
  text-decoration: none;
  box-shadow: 1px 0px 7px 2px rgba(0, 0, 0, 0.44);
  animation: pulse 2s infinite;
}

.introduction__copyright {
  margin: 0;
  position: fixed;
  bottom: 0;
  font-size: 14px;
}

.introduction__lights {
  width: 100%;
  position: absolute;
  top: 0;
}

.introduction__bell {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 80%;
  top: 250px;
  animation: rotate 3s linear 0s infinite;
}

.introduction__bell:last-child {
  left: calc(20% - 100px);
}

@media screen and (max-width: 1050px) {
  .introduction__lights {
    transform: scaleX(1.1);
  }
  .introduction__copyright {
    font-size: 12px;
  }
  .introduction__bell {
    width: 75px;
    height: 75px;
  }
  .introduction__bell:last-child {
    left: calc(20% - 75px);
  }
}

@media screen and (max-width: 600px) {
  .introduction {
    padding: 100px 25px;
  }
  .introduction__copyright {
    font-size: 10px;
  }
  .introduction__paragraph {
    font-size: 15px;
    line-height: 18px;
    max-width: 400px;
  }
  .introduction__header {
    max-width: 300px;
    font-size: 32px;
    line-height: 38px;
  }
  .introduction__bell {
    width: 50px;
    height: 50px;
    top: 100px;
    left: 85%;
  }
  .introduction__bell:last-child {
    left: calc(15% - 50px);
  }
}

@media screen and (max-width: 450px) {
  .introduction__bell {
    left: 70%;
  }
  .introduction__bell:last-child {
    left: calc(30% - 50px);
  }
